<<<<<<< HEAD
@import "var";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	position: relative;
	font-family: $hat;
=======
@import "var";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	position: relative;
	font-family: $hat;
>>>>>>> 4871c9b54a5942abde0120c1d2f3401b76f89370
}